<div class="container" *ngIf="dive$ | async as dive; else loading">
  <!-- //////////////////////////////// -->
  <!-- ///   Progress bar saving ////// -->
  <!-- //////////////////////////////// -->
  <mat-progress-bar
    *ngIf="this.loading_save"
    mode="indeterminate"
    class="load_bar"
  ></mat-progress-bar>

  <!-- //////////////////////////////// -->
  <!-- ///   Contextual button  /////// -->
  <!-- //////////////////////////////// -->
  <div class="fixed_btn">
    <button
      [disabled]="this.loading_save"
      mat-mini-fab
      aria-label="Save"
      (click)="this.send()"
    >
      <mat-icon>save</mat-icon>
    </button>

    <!-- dive add media button-->
    <button
      [disabled]="this.loading_save"
      mat-mini-fab
      aria-label="Add images or videos"
      (click)="this.openUpload()"
    >
      <mat-icon>image</mat-icon>
    </button>
  </div>

  <form [formGroup]="diveForm">
    <!-- //////////////////////////////// -->
    <!-- ///      header cards     ////// -->
    <!-- //////////////////////////////// -->
    <div class="header">
      <mat-card class="half_header_card">
        <mat-icon class="icon_header" (click)="picker.open()">event</mat-icon>
        <mat-form-field class="header_field">
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Date"
            formControlName="date"
            (focus)="picker.open()"
            #dateInput
          />
          <mat-datepicker
            touchUi
            #picker
            (closed)="dateInput.blur()"
          ></mat-datepicker>
        </mat-form-field>
      </mat-card>

      <mat-card class="half_header_card">
        <mat-icon class="icon_header" (click)="this.opentime()">access_time</mat-icon>
        <mat-form-field class="header_field">
          <input
            matInput
            atp-time-picker
            value="19:00"
            hours24="true"
            placeholder="Time"
            formControlName="time"
          />
        </mat-form-field>
      </mat-card>

      <mat-card class="header_card">
      <mat-icon class="icon_header"> my_location</mat-icon>
        <div class="header_field">
          <app-manage-location  formControlName="spot"> </app-manage-location >  
        </div>  
      </mat-card>
    </div>

    <!-- //////////////////////////////// -->
    <!-- ///      Gallery Card        ////// -->
    <!-- //////////////////////////////// -->
    <mat-card class="gallery" *ngIf="dive.pictures.length > 0">
      <img
        *ngFor="let picture of this.dive_init.pictures"
        [src]="picture.small"
      />

      <!--
    <div class="gallery_cnt">
   <gallery [items]="images"
   [thumb]="false"
   thumbPosition="right"
   ></gallery>
   </div>-->
    </mat-card>

    <!-- //////////////////////////////// -->
    <!-- ///      Main Card        ////// -->
    <!-- //////////////////////////////// -->
    <mat-card class="overview">
      <!-- show dive chart and image in slide show-->
      <div class="chart" *ngIf="dive.profile_dan">
        <app-dive-chart
          class="chart_cnt"
          [diveID]="this.diveID"
        ></app-dive-chart>
      </div>

      <!-- show dive main info-->
      <div class="sumup">
        <!-- show dive main info-->
        <div class="side_overview">
          <mat-form-field class="side_small">
            <mat-label>Duration</mat-label>
            <input matInput type="number" formControlName="duration" />
            <span matSuffix>min</span>
          </mat-form-field>

          <mat-form-field class="side_small">
            <mat-label>Depth</mat-label>
            <input type="number" matInput formControlName="maxdepth" />
            <span matSuffix>m</span>
          </mat-form-field>

          <div>
            <!-- show dive buddies -->
            <div class="buddy">
              <app-chips-buddies formControlName="buddies"> </app-chips-buddies>
            </div>

            <mat-form-field class="note">
              <mat-label>Notes</mat-label>
              <textarea matInput formControlName="notes"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card>

    <!-- //////////////////////////////// -->
    <!-- ///      Accordeon       ////// -->
    <!-- //////////////////////////////// -->
    <div class="expansion">
      <mat-accordion>
        <!-- Standard info on the dive -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>timeline</mat-icon>
              &nbsp; Detailed stats
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field class="trip">
            <mat-label>Trip name</mat-label>
            <input matInput formControlName="trip_name" />
          </mat-form-field>

          <div class="inline_btn">
            <mat-label>{{
              this.diveForm.value.privacy ? "Private" : "Public"
            }}</mat-label
            ><br />
            <mat-slide-toggle formControlName="privacy"> </mat-slide-toggle>
          </div>

          <div class="inline_btn">
            <mat-label>Favorite</mat-label><br />
            <mat-slide-toggle formControlName="favorite"></mat-slide-toggle>
          </div>

          <mat-form-field>
            <mat-label>Guide</mat-label>
            <input matInput formControlName="guide" />
          </mat-form-field>

          <mat-divider></mat-divider>

          <div class="form_sub_cnt">
            <mat-form-field class="main_small_fld">
              <mat-label>Altitude</mat-label>
              <input matInput type="number" formControlName="altitude" />
              <span matSuffix>m</span>
            </mat-form-field>

            <mat-form-field class="main_small_fld">
              <mat-label>Surface Interval</mat-label>
              <input
                matInput
                type="number"
                formControlName="surface_interval"
              />
              <span matSuffix>h</span>
            </mat-form-field>

            <mat-form-field class="main_small_fld">
              <mat-label>Weigth</mat-label>
              <input matInput type="number" formControlName="weights" />
              <span matSuffix>kg</span>
            </mat-form-field>

            <mat-form-field class="main_small_fld">
              <mat-label>Water</mat-label>
              <mat-select formControlName="water">
                <mat-option value="salt">
                  Salty
                </mat-option>
                <mat-option value="fresh">
                  Fresh
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="main_small_fld">
              <mat-label>Temp bottom</mat-label>
              <input matInput type="number" formControlName="temp_bottom" />
              <span matSuffix>°C</span>
            </mat-form-field>

            <mat-form-field class="main_small_fld">
              <mat-label>Temp surface</mat-label>
              <input matInput type="number" formControlName="temp_surface" />
              <span matSuffix>°C</span>
            </mat-form-field>

            <!-- show dive tag -->
            <app-chips-dive-tag class="main_big_fld" formControlName="divetype">
            </app-chips-dive-tag>
          </div>

          <mat-divider></mat-divider>

          <div class="form_sub_cnt">
            <div class="review">
              <mat-label class="slide_label">Overall review</mat-label>
              <mat-slider
                max="5"
                min="0"
                step="1"
                thumbLabel
                formControlName="dive_reviews_overall"
                class="slide"
              >
              </mat-slider>
            </div>

            <div class="review">
              <mat-label class="slide_label">Difficulty</mat-label>
              <mat-slider
                max="5"
                min="0"
                step="1"
                thumbLabel
                formControlName="dive_reviews_difficulty"
                class="slide"
              >
              </mat-slider>
            </div>

            <div class="review">
              <mat-label class="slide_label">Marine life</mat-label>
              <mat-slider
                max="5"
                min="0"
                step="1"
                thumbLabel
                formControlName="dive_reviews_marine"
                class="slide"
              >
              </mat-slider>
            </div>

            <div class="review">
              <mat-label class="slide_label">Big fish</mat-label>
              <mat-slider
                max="5"
                min="0"
                step="1"
                thumbLabel
                formControlName="dive_reviews_bigfish"
                class="slide"
              >
              </mat-slider>
            </div>

            <div class="review">
              <mat-label class="slide_label">Wreck</mat-label>
              <mat-slider
                max="5"
                min="0"
                step="1"
                thumbLabel
                formControlName="dive_reviews_wreck"
                class="slide"
              >
              </mat-slider>
            </div>

            <div class="review">
              <mat-label class="slide_label">Current</mat-label>
              <mat-slider
                max="5"
                min="0"
                step="1"
                thumbLabel
                formControlName="current"
                class="slide"
              >
              </mat-slider>
            </div>

            <div class="review">
              <mat-label class="slide_label">Visibility</mat-label>
              <mat-slider
                max="5"
                min="0"
                step="1"
                thumbLabel
                formControlName="visibility"
                class="slide"
              >
              </mat-slider>
            </div>
          </div>

          <!--//safetystops: number[ [string, number] ] ​
            //shop: null
            //species: Array []
            //gears: number [];
            //dive_gears: number[];
            //user_gears: Array [] -->
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>emoji_nature</mat-icon>
              &nbsp; Species
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>battery_std</mat-icon>
              &nbsp; Air
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>devices_other</mat-icon>
              &nbsp; Gear
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </form>
</div>

<ng-template #loading>
  Loading Dive...
</ng-template>
