<mat-card
  *ngIf="dive$ | async as dive"
  class="dive-card"
  [routerLink]="['/dive', dive.id]"
  matRipple
>
  <img
    *ngIf="dive.featured_picture; else chart"
    matRipple
    class="cnt"
    mat-card-image
    src="{{ dive.featured_picture.medium }} "
  />

  <ng-template #chart>
    <!-- show dive chart ; if any ; location otherwise-->
    <app-dive-chart
      *ngIf="dive.profile_dan; else placeholder"
      class="cnt"
      [diveID]="this.diveID"
    ></app-dive-chart>
  </ng-template>

  <ng-template #placeholder>
    <!-- show dive chart ; if any ; location otherwise-->
    <img class="cnt" mat-card-image src="assets/images/dive_place_holder.png" />
  </ng-template>

  <mat-card-header class="header">
    <div mat-card-avatar class="avatarImage">
      <div>{{ dive.number }}</div>
    </div>
    <mat-card-title
      >{{ dive.spot.location_name }}, {{ dive.date | date }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ dive.duration }} minutes / {{ dive.maxdepth }} m
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>
