.dive-card {
  cursor: pointer;
  margin: auto;
  min-height: 15em;
}

.header {
  padding: 1em;
}

.cnt {
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  height: 22em;
}

.avatarImage {
  background-color: grey;
  background-size: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarImage div {
  color: lightgray;
  font-size: x-large;
  font-weight: 800;
  flex: 0 0 0px;
}
